@import '../common/variables.scss';

.form {
  @include flexCenter;
  gap: 32px;

  width: max-content;
  margin: 0 auto;
  padding: 0 20px;

  &__field {
    min-width: 316px;
    max-width: 368px;
    height: max-content;

    border-bottom: 2px solid $secondary-color;
    
    font-size: 1.25rem;
    color: $secondary-color;

    &:focus {
      border-color: $primary-color;
      color: $primary-color;
      outline: none;
    }

    &::placeholder {
      color: $secondary-color;
    }
  }
}